body {
  padding:0px;
  margin:auto;
  background-color:#0f0f1f;
  background-attachment: fixed;
  color:rgb(250,250,250);
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

div {
  text-align: center;
  display: inline-block;
  width: 100%;
  font-size:20px;
  margin-top:10px;
  margin-bottom:10px;
}

h1 {
  margin-top:40px;
  margin-bottom:0px;
  font-size:70px;
  font-style:bold;
  color:rgb(255,255,255);
  text-align:center;
}

h2 {
  margin-top:20px;
  margin-bottom:20px;
  font-size:60px;
  font-style:bold;
  color:rgb(250,250,250);
  text-align:center;
}

a {
  color:white;
  text-decoration: none;
}

p {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  font-size:20px;
  line-height:26pt;
  text-align:left;
  color:rgb(245,245,245);
}

hr {
  width:50%;
  margin-top: 40px;
  margin-bottom:40px;
  border: 5px solid grey;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  margin-bottom: 60px;
  width:1000px;
}


/*Sticky navbar stuff from w3schools*/
#navbar {
  overflow: hidden;
  background-color: #0f0f1f;
  height: 80px;
  line-height: 80px;
  margin:0px;
  display: block;
  border-bottom: 1px solid #e0e0e0;
}

/* Navbar links */
#navbar a {
  color: #efefff;
  padding: 20px;
  text-align: center;
}

.spaced {
  padding-bottom: 80px;
  display: inline-block;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
